html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  margin-top: 70px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 1000;
  background-color: #000407;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
  display: flex;
  justify-content: start;
  padding-left: 50px;
  font-size: 30px;
  color: #f5f7f7;
}

.nav_list {
  display: flex;
  justify-content: center;
}

.nav_list > li {
  padding: 40px;
  font-weight: bold;
  transition: all 0.3s;
  color: #f5f7f7;
}

.nav_list > li:hover {
  transform: scale(1.05);
}

.langueges {
  padding-right: 50px;
  display: flex;
  flex-direction: row;
}

.langueges button {
  background-color: #000407;
  width: 70px;
  height: 35px;
  font-size: 12px;
  font-weight: bold;
  color: #f5f7f7;
  padding: 5px 5px;
  transition: all 0.3s;
  border: none;
}

.langueges button:hover {
  transform: scale(1.05);
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  padding-top: 140px;
  height: 300px;
  background: linear-gradient(to right, #79031d, #9b1a3a, #79031d);
}

.intro > h1 {
  font-size: 30px;
  font-style: oblique;
  font-weight: bolder;
  text-shadow: 2px 2px 2px #f0f0f0;
  margin-bottom: 100px;
}

.intro > h2 {
  font-size: 40px;
  font-style: oblique;
  font-weight: bolder;
  color: #ede3d2;
}

.section {
  display: flex;
  flex-direction: column;
  height: 1000px;
  padding: 50px;
}

#about_section {
  background: linear-gradient(to right, #d4f1f9, #eaf8fb, #d4f1f9);
}

#projects_section {
  background: linear-gradient(to right, #1b1f3b, #2e3a59, #1b1f3b);
}

#portfolio_section {
  background: linear-gradient(to right, #0a3b3b, #145555, #0a3b3b);
}

#contact_section {
  background: linear-gradient(to right, #3b0d0d, #5a1a1a, #3b0d0d);
}

.page_title {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 50px;
}

.about_layout {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 110px;
  padding-top: 100px;
}

.about_left_layout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about_left_layout > h3 {
  font-size: 26px;
}

.name {
  font-weight: bold;
  color: #6184c6;
  font-size: 25px;
}

.about_content {
  display: flex;
  padding-top: 14px;
  font-size: 18px;
  line-height: 1.8;
  max-width: 80%;
  /* overflow-wrap: break-word; */
}

.skill_and_career {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 50px;
}

.skill_title {
  display: flex;
  justify-content: start;
  padding-top: 60px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 30px;
}

.skill_item_container {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(2, auto);
  column-gap: 4rem;
  row-gap: 2rem;
  padding-top: 20px;
}

.skill_item {
  display: flex;
  flex-direction: start;
  align-items: center;
}

.skill_item > img {
  width: 38px;
  height: 38px;
}

.career_title {
  display: flex;
  justify-content: start;
  padding-top: 60px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 30px;
}

.career_list {
  padding-top: 20px;
  line-height: 1.8;
}

.career_list > li {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  color: #333;
}

.about_right_layout {
  display: flex;
  flex-direction: start;
}

.my_selfie img {
  height: 650px;
  width: 500px;
  border-radius: 30px;
}

.project_layout {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.project_item_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
}

.project_item {
  position: relative;
  display: flex;
}

.project_item > img {
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 400px;
  border-radius: 15px;
}

.project_desc {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: all 0.3s ease-in 0.1s;
  color: white;
  box-sizing: border-box;
  border-radius: 15px;
  gap: 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.project_desc > h2 {
  font-size: 25px;
  color: #fff7b3;
}

.project_desc > p {
  font-size: 20px;
}

.project_desc:hover {
  opacity: 1;
}

.portfolio_layout {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.portfolio_item_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
}

.portfolio_item {
  position: relative;
  display: flex;
}

.portfolio_item > img {
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 400px;
  border-radius: 15px;
}

.portfolio_desc {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: all 0.3s ease-in 0.1s;
  color: white;
  box-sizing: border-box;
  border-radius: 15px;
  gap: 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.portfolio_desc > h2 {
  font-size: 25px;
  color: #fff7b3;
}

.portfolio_desc > p {
  font-size: 20px;
}

.portfolio_desc:hover {
  opacity: 1;
}

.contact_layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.contact_content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  text-align: center;
  margin: 0;
  line-height: 1.2;
}

.contact_content > h3 {
  font-size: 40px;
  font-style: oblique;
  font-weight: bolder;
  color: #ede3d2;
}

.contact_content > h1 {
  font-size: 50px;
  font-style: oblique;
  font-weight: bolder;
  color: #ede3d2;
}

.business_hour > ul {
  font-size: 30px;
  font-style: oblique;
  font-weight: bolder;
  color: #ede3d2;
}

.contact_links {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
