html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  margin-top: 70px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 1000;
  background-color: #000407;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
  display: flex;
  justify-content: start;
  padding-left: 50px;
  font-size: 30px;
  color: #f5f7f7;
}

.nav_list {
  display: flex;
  justify-content: center;
}

.nav_list > li {
  padding: 40px;
  font-weight: bold;
  transition: all 0.3s;
  color: #f5f7f7;
}

.nav_list > li:hover {
  transform: scale(1.05);
}

.langueges {
  padding-right: 50px;
  display: flex;
  flex-direction: row;
}

.langueges button {
  background-color: #000407;
  width: 70px;
  height: 35px;
  font-size: 12px;
  font-weight: bold;
  color: #f5f7f7;
  padding: 5px 5px;
  transition: all 0.3s;
  border: none;
}

.langueges button:hover {
  transform: scale(1.05);
}

.marker {
  content: "";
  position: absolute;
  bottom: 1.2rem;
  left: 50%;
  width: 0%;
  height: 3px;
  background-color: purple;
  transition: 0.2s;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 140px;
  height: 300px;
  background: linear-gradient(to right, #79031d, #9b1a3a, #79031d);
}

.intro > h1 {
  font-size: 30px;
  font-style: oblique;
  font-weight: bolder;
  text-shadow: 2px 2px 2px #f0f0f0;
  margin-bottom: 100px;
}

.intro > h2 {
  font-size: 40px;
  font-style: oblique;
  font-weight: bolder;
  color: #ede3d2;
}

.section {
  display: flex;
  flex-direction: column;
  height: 1000px;
  padding: 50px;
}

#about_section {
  background-color: aliceblue;
}

#projects_section {
  background-color: aquamarine;
}

#portfolio_section {
  background-color: aqua;
}

#contact_section {
  background-color: #9b1a3a;
}

.page_title {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 50px;
}

.about_layout {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 110px;
  padding-top: 140px;
}

.about_left_layout {
  display: flex;
  flex-direction: column;
}

.about_left_layout > h3 {
  font-size: 26px;
}

.name {
  font-weight: bold;
  color: #6184c6;
  font-size: 25px;
}

.about_content {
  padding-top: 14px;
  font-size: 18px;
  line-height: 1.8;
}

.skill_and_career {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 50px;
}

.skill_title {
  display: flex;
  justify-content: start;
  padding-top: 60px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 30px;
}

.skill_grid_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3열 */
  grid-template-rows: repeat(2, auto); /* 2행, 자동 높이 설정 */
  gap: 1rem;
  padding-top: 20px;
}

.skill_item {
  display: flex;
  flex-direction: start;
  align-items: center;
  gap: 2rem;
}

.skill_item > img {
  width: 38px;
  height: 38px;
}

.skill_item > p {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  color: #333;
}

.career_title {
  display: flex;
  justify-content: start;
  padding-top: 60px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 30px;
}

.career_list {
  padding-top: 20px;
  line-height: 1.8;
}

.career_list > li {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  color: #333;
}

.about_right_layout {
  display: flex;
  flex-direction: start;
}

.my_selfie img {
  height: 650px;
  width: 500px;
  border-radius: 30px;
}

.project_layout {
  display: flex;
  justify-content: space-between;
  padding-top: 130px;
}
